@font-face {
   font-family: 'URWDIN-Demi';
   font-display: swap;
   src: url('file:///Users/ethan/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-09-13_112934/fonts/URWDIN-Demi/font.ttf');
}
